//! **************************************************************************
// Written by: Map P.68d on Mon May 16 11:30:41 2016
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "V10" LEVEL 1;
COMP "vgaGreen<0>" LOCATE = SITE "P8" LEVEL 1;
COMP "vgaGreen<1>" LOCATE = SITE "T6" LEVEL 1;
COMP "vgaGreen<2>" LOCATE = SITE "V6" LEVEL 1;
COMP "Hsync" LOCATE = SITE "N6" LEVEL 1;
COMP "Vsync" LOCATE = SITE "P7" LEVEL 1;
COMP "vgaBlue<1>" LOCATE = SITE "R7" LEVEL 1;
COMP "vgaBlue<2>" LOCATE = SITE "T7" LEVEL 1;
COMP "vgaRed<0>" LOCATE = SITE "U7" LEVEL 1;
COMP "vgaRed<1>" LOCATE = SITE "V7" LEVEL 1;
COMP "vgaRed<2>" LOCATE = SITE "N7" LEVEL 1;
TIMEGRP sys_clk_pin = BEL "vga_module/CounterY_9" BEL "vga_module/CounterY_8"
        BEL "vga_module/CounterY_7" BEL "vga_module/CounterY_6" BEL
        "vga_module/CounterY_5" BEL "vga_module/CounterY_4" BEL
        "vga_module/CounterY_3" BEL "vga_module/CounterY_2" BEL
        "vga_module/CounterY_1" BEL "vga_module/CounterY_0" BEL
        "vga_module/vga_VS" BEL "vga_module/vga_HS" BEL
        "vga_module/CounterX_9" BEL "vga_module/CounterX_8" BEL
        "vga_module/CounterX_7" BEL "vga_module/CounterX_6" BEL
        "vga_module/CounterX_5" BEL "vga_module/CounterX_4" BEL
        "vga_module/CounterX_3" BEL "vga_module/CounterX_2" BEL
        "vga_module/CounterX_1" BEL "vga_module/CounterX_0" BEL
        "clk_BUFGP/BUFG";
TS_sys_clk_pin = PERIOD TIMEGRP "sys_clk_pin" 100 MHz HIGH 50%;
SCHEMATIC END;

